<section id="cards">
  <div class="container py-1">
    <div class="row pb-4">
      <div class="col-12 text-center">
        <div class="display-1" style="font-size: x-large;">Carrito de compras</div>
      </div>
    </div>
    <hr>
  </div>
</section>


<section id="products">
  <div class="container py-2">
    <div class="row">
      <div class="col-md-12 content-table">

        <table mat-table [dataSource]="datasource" class="table table-striped tablaCarrito">

          <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

          <!-- Position Column -->
          <ng-container matColumnDef="NombreProducto">
            <td class="columna-producto" mat-cell *matCellDef="let product">
               {{product.nombre}}
              <!-- <mat-form-field class="example-full-width cantidad-producto">
                <mat-label>0</mat-label>
                <input matInput value="">
              </mat-form-field> -->
              <input type="text" class="form-control cantidad-producto" placeholder="0" aria-label="Username" [value]="product.cantidad" aria-describedby="basic-addon1">
            </td>
          </ng-container>

          <!-- precio Column -->
          <ng-container matColumnDef="Precio">
            <td class="columna-precio" mat-cell *matCellDef="let product">{{product.precio * product.cantidad | currency : 'COP'}} </td>
          </ng-container>

          <!-- Acciones Column -->
          <ng-container matColumnDef="Acciones">
            <td class="columna-acciones" mat-cell *matCellDef="let product"> 
              <div
              class="btn-group"
              role="group"
              aria-label="Basic mixed styles example"
            >
              <button
              type="button"
              class="btn btn-warning btn-sm boton-eliminar-del-carrito"
              (click)="deleteProductForCart(product)"
              >
              <mat-icon>remove_shopping_cart</mat-icon>
              </button>
            </div> </td>
          </ng-container>

          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
    </div>
    <div class="col-md-12 mt-3 d-flex align-items-center justify-content-end">
      <button mat-raised-button color="primary" style="color: white !important;">Pagar</button>
    </div>
  </div>
</section>