<nav class="navbar navbar-expand-md navbar-dark fixed-top">
  <div class="container-fluid">
    <div class="row" style="width: 100% !important;">
      <div class="col-md-3">
        <img src="../../../../assets/index/HARDWARE_STORE-removebg-preview.png" width="10%">
        <a class="navbar-brand" href="#"> CT-MP STORE</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav me-auto mb-2 mb-md-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" routerLink="/home">Productos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Ofertas</a>
            </li>
          </ul>
        </div>
        </div>
        <div class="col-md-6 d-flex justify-content-center align-items-center">
          <form class="d-flex" style="width: 100% !important;" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          </form>
        </div>
        <div class="col-md-3 d-flex justify-content-end align-items-center">
          <button mat-icon-button class="btn-favorites">
            <mat-icon>favorite</mat-icon>
          </button>
          <button mat-icon-button class="btn-shopping-cart"   routerLink="carrito">
            <span matBadgeColor="warn" matBadgeSize="small" [matBadge]="productosCarrito">
              <mat-icon>shopping_cart</mat-icon>
            </span>
          </button>
        </div>
      </div>
    </div>
</nav>